@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4 class="large-text fin-farve">@ViewBag.Message</h4>

<p>Mette Juul (voc/g)
Ambrose Akinmusire (tp)
Nikolaj Hess (p)
Morten Ramsbøl (b)
Morten Lund (dr)
i Huset lørdag 17. sep. 2011
</p>
<img src="~/img/MetteJuulHuset20110917.JPG" id="MetteJuulHuset20110917.JPG" height="300" onmouseover="largeImg(this.id)" onmouseout="mediumImg(this.id)"/><br/>

<br/>


@Html.ActionLink("Baggrund", "index", "Baggrund",null, null)
<br/>
<a href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/creating-a-connection-string">Connection strings</a>



<br /><br />

    Anvendte produkter
    <ul>
        <li>
            Første maskine
            <ul>
                <li>Microsoft Windows 10 Home version 10.0.14393 build 14393</li>
                <li>Microsoft Visual Studio Community 2015 Version 14.0.25431.01 Update 3</li>
                <li>Microsoft .NET Framework Version 4.6.01586</li>
                <li>Mozilla Firefox 52.0</li>
            </ul>
        </li>
        <li>
            Anden maskine
            <ul>
                <li>Microsoft Windows 7 Enterprise Version	6.1.7601 Service Pack 1 Build 7601</li>
                <li>Microsoft Visual Studio Enterprise 2015, Version 14.0.25431.01 Update 3</li>
                <li>Microsoft .NET Framework Version 4.6.01590</li>
                <li>Mozilla Firefox 45.9.0</li>
            </ul>
        </li>
        <li>
            Fælles
            <ul>
                <li>XAMPP v5.6.30</li>
                <li>MySQL-Workbench 6.3</li>
                <li>WireShark 2.2.4</li>
            </ul>
        </li>
    </ul>
