
@{
    ViewBag.Title = "NotFound";
}

<h2>Der er godt nok ledt mange steder, men ingenting fundet</h2>



<h2>Error404</h2>

<ul>
    @{

        for(int i = 0; i < 7; i++) {
            <li>@ViewBag.Title</li>
        }
    }
</ul>

<img src="~/img/09122009034.JPG" />





http://stackoverflow.com/questions/14022939/onmouseover-document-getelementbyid-for-multiple-divs<br/>

<img src="~/img/09122009034.JPG" id="etBillede" height="100" onmouseover="mediumImg(this.id);" />

